@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="jumbotron">
        <h1 class="display-4">The Flying Pandas</h1>
        <p class="lead">We are a gaming group dedicated to Dayz, Arma, and Digital Combat Simulator.</p>
        <hr class="my-4">
        <p>Below, you can check the status of our servers & join our discord.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
